.group {
	border-radius: 25px;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;

	.groupTitle {
		background-color: #ad8350;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 25px;
		height: 60px;
		width: 100%;
		h2 {
			text-align: center;
		}
	}

	.countries {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
	}
}
