.country {
	flex: 1 0 26%;
	border-radius: 25px;
	background-color: #729b79;
	padding: 20px 20px 20px 20px;
	margin: 15px 10px 15px 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 80%;

	p {
		color: #253237;
		width: 100%;
	}

	p.name {
		font-size: 22px;
		font-weight: bold;
	}

	p.currency,
	p.languages,
	p.states {
		line-break: auto;
	}
}
