.country {
	border-radius: 25px;
	background-color: #729b79;
	padding: 20px 20px 20px 20px;
	margin: 15px 10px 15px 10px;
	width: 200px;
	height: 220px;

	p {
		color: #253237;
	}

	p.name {
		font-size: 22px;
		font-weight: bold;
	}

	p.currency,
	p.languages {
		line-break: normal;
	}
}
