@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#inputs,
#switch {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

#search {
	width: 50%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;

	#searchTerm {
		height: 40px;
		width: 60%;
		color: #ededed;
		background-color: #7c3238;
		//border: 3px solid #7C3238;
		padding: 5px 10px 5px 10px;
		height: 100%;
		height: 20px;
		border-radius: 10px 10px 10px 10px;
		outline: none;
		border: none;
		font-size: 16px;
	}

	#searchTerm::placeholder {
		color: #ededed;
		opacity: 0.7;
	}
}

#switch {
	justify-content: flex-start;
	p {
		color: #253237;
		margin-right: 15px;
		margin-left: 80px;
	}
	button {
		border: none;
		background-color: #7c3238;
		color: #ededed;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 10px;
		height: 40px;
		width: 100px;
	}
}
